<div class="over">
    <mat-card clas="form-card">
    
       <h2 class="title">Update Employee</h2>
       <form [formGroup]="employeeUpdateForm">

           <mat-form-field appearance="outline">
             <mat-label>First Name</mat-label>
             <input matInput formControlName="firstName">
           </mat-form-field>
   
           <mat-form-field appearance="outline">
               <mat-label>Last Name</mat-label>
               <input matInput formControlName="lastName">
           </mat-form-field>
       
           <div class="buttons">
             <button mat-button color="warn" type="button" (click)="onCancel()">Cancel</button>
             <button mat-raised-button color="primary" (click)="onSave()">Save</button>
           </div>
         </form>
   
   </mat-card>
   </div>