<div class="container">
    <mat-card clas="form-card">
    
       <h2 class="title">Create New Fault</h2>
       <form [formGroup]="rentPriceForm" (ngSubmit)="onSubmit()">

   
        <mat-form-field appearance="outline">
      <mat-label>Rent price</mat-label>
      <input matInput type="number" min="100" max="5000" step="50"  formControlName="rentPrice" required>
       <mat-error *ngIf="rentPriceForm.get('rentPrice')?.invalid && rentPriceForm.get('rentPrice')?.touched">
      You must enter valid price (100 - 5000)
    </mat-error>
       </mat-form-field>
   
        <mat-form-field appearance="fill">
            <mat-label>Vehicle</mat-label>
            <mat-select formControlName="vehicleId">
         <mat-option *ngFor="let v of vehicles" [value]="v.id">
          {{ v.model }} 
      </mat-option>
    </mat-select>
    <mat-error *ngIf="rentPriceForm.get('vehicleId')?.invalid && rentPriceForm.get('vehicleId')?.touched">
      You must choose vehicle
    </mat-error>
           </mat-form-field>
       
           <div class="buttons">
             <button mat-button color="warn" type="button" (click)="closeForm()">Cancel</button>
             <button mat-raised-button color="primary" type="submit">Save</button>
           </div>
         </form>
   
   </mat-card>
   </div>
