body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #074799, #578FCA, #A1E3F9);
}

.reg-title
{
    margin-bottom: 45px;
    font-style: italic;
    color: #4D55CC;
}

mat-label
{
    color: black !important;
}

mat-form-field
{
    width: 80%;
    font-size: 22px;
    margin-bottom: 12px;
    border-color: #4D55CC !important;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    border: none;
    box-shadow: none;
    

}

.register-card
{
    
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border: none;
    box-shadow: none;
}

.button-container
{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 15px;
           
}

button{
    border-radius: 7px;
    width: 35%;
    height: 50px;
    font-size: 19px;
    color: #4D55CC !important;
    background-color: #C7D9DD !important;
}

.back-button{
    position: absolute;
    top: 12px;
    left: 17px;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    font-size: 16px;
}

