<h2 class="sub-title">Vehicle management</h2>

<div class="middle-content">
<mat-tab-group>
  
  <mat-tab label="Cars"> 
    <app-vehicle-table [type]="'car'"></app-vehicle-table>
  </mat-tab>

  <mat-tab label="Bikes">
      <app-vehicle-table [type]="'bike'"></app-vehicle-table>  
  </mat-tab>
  <mat-tab label="Scooters"> 
    <app-vehicle-table [type]="'scooter'"></app-vehicle-table>
   </mat-tab>

  </mat-tab-group>
  
</div>





<!-- 
<mat-tab label="Cars">
  <app-vehicle-table [vehicles]="cars" (delete)="deleteVehicle($event)"></app-vehicle-table>
</mat-tab>
<mat-tab label="Bikes">
  <app-vehicle-table [vehicles]="bikes" (delete)="deleteVehicle($event)"></app-vehicle-table>
</mat-tab>
<mat-tab label="Scooters">
  <app-vehicle-table [vehicles]="scooters" (delete)="deleteVehicle($event)"></app-vehicle-table>
</mat-tab>
-->

