

.container
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content
{
    display: flex;
    flex: 1;
}

.sidebar
{
  padding-top: 15px;
  width: 200px;
  color:white;
  background-color: #578FCA;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style-type: none;
}


.sidebar ul li{
 margin: 15px 0;
 width: 100%;
 transition: background 0.3s ease-in-out;
}


.sidebar ul li:hover
{
    background-color: #A1E3F9;
    transform: scale(1.08);
}



.sidebar ul li a{
    color: white;
    text-decoration: none;
    width: 100%;
    
}





.main-content
{
    flex: 1;
    padding: 10px;
    position: relative;
    /*overflow: hidden;*/
    overflow: auto;
    box-sizing: border-box;
}

header{
    background-color:#074799;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: white;
    font-size: 20px;
}

footer{
    background-color: #074799;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
}