.search-container
{
    margin-left: 15px;
    margin-top: 22px;
}

.table-container
{
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

.table-container table
{
    border: 1px solid #074799;
    
}

th[mat-header-cell] {
    font-weight: bold;
    font-size: 18px;
    color: #578FCA;
}

tr[mat-row]
{
    background-color: #578FCA;
    color: white;
    border-bottom: 1px solid #074799;
    font-size: 14px;
}

mat-icon
{
    color: white;
    font-size: 23px;
   
}

.button-container
{
    margin-top: 25px;
    margin-left: 1150px;
    display: flex;

}

